.homeLogo {
  height: 120px;
  position: relative;
}

.landing {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.start {
  text-decoration: none;
  font-size: 22px;
  margin-right: 50px;
  margin-top: 40px;
  color: white;
  background: #151515;
}

.nav-wrapper {
  width: 100%;
  background: #151515;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav {
  text-decoration: none;
  font-size: 22px;
  margin-right: 50px;
  margin-top: 40px;
  color: white;
  background: #151515;
}

.nav:hover {
  cursor: pointer;
}

.friend-container {
  position: relative;
  z-index: 10;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 1000px;
  text-align: center;
}

.friend-deets:hover {
  cursor: pointer;
  box-shadow: 10px 10px 21px -15px rgba(0, 0, 0, 0.75);
}
.friend-deets {
  border: 1px solid black;
  box-shadow: 10px 10px 21px -18px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  margin-top: 10px;
  width: 300px;
}

.form-wrapper {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;;
}

.btn {
  margin-top: 10px;
  margin-left: 30%;
  height: 30px;
  width: 40%;
  background: #151515;
  border: 1px solid black;
  color: white;
  
}

.btn:hover {
  cursor: pointer;
}

.delete {
  border: 1px solid black;
  width: 25%;
  height: 30px;
  padding-top: 5px;
  color: white;
  background: #151515;
}

.delete:hover {
  cursor: pointer;
}

.update {
  border: 1px solid black;
  width: 25%;
  height: 30px;
  padding-top: 5px;
  color: white;
  background: #151515;
}

.update:hover {
  cursor: pointer;
}