.nav-wrapper {
  width: 150px;
  background: black;
  margin: 0 auto;
  margin-top: 20px;
}
.nav {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

.nav-wrapper:hover {
  cursor: pointer;
}

.friend-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.friend-deets:hover {
  cursor: pointer;
  box-shadow: 10px 10px 21px -15px rgba(0, 0, 0, 0.75);
}
.friend-deets {
  border: 1px solid black;
  box-shadow: 10px 10px 21px -18px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  margin-top: 10px;
  width: 300px;
}
